<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

<script>
  // Redirect drone
  if (window.location.pathname.startsWith("/drone/")) {
    document.head.remove();
    fetch('/drone/index.html')
      .then(response => response.text())
      .then(data => {
        document.documentElement.innerHTML = data;
        var scripts = document.getElementsByTagName("script");
        for (const script of scripts) {
          import(script.src);
        }
      });
  } else {
    window.onload = (event) => {
      document.body.style.visibility = "visible";
    };
  }
</script>

{%- include head.html -%}

<body style="visibility:hidden;">

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}

</body>

</html>
